.login {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: white !important;
}

.login > button {
    width: 300px;
    background-color: #2e81f4;
    color: #eff2f5;
    font-weight: 800;
}


.login > button:hover {
    background-color: rgb(137, 204, 226);
    color: #153c72;
}

.login> div > img {
    object-fit: contain;
    height: 150px;
}

.login > div {
    display: flex;
    flex-direction: column;
}